#displayMessage {
height: 100px;
width: 100%;
border: 1px solid White;
color: white;
font-size: 50px;
text-align: center;
line-height: 100px;
}
#result-container {
  margin-top: 50px;
  height: 250px;
  width: 100%;
  /*border: 1px solid White;*/
  color: white;
  font-size: 75px;
  text-align: center;
  line-height: 250px;
}
.display {
  /*border: 1px solid white;*/
  width: 45%;
  height: auto;
  display: inline-block;
  /*margin: 1px;*/
}
#rock {
border: 1px solid black;
width: 32%;
background-color: black;
display: inline-block;
color: black;
text-align: center;
line-height: 50px;
margin-left: 30px;
margin-top: 50px;
}
#paper {
  border: 1px solid black;
  /*height: 50px;*/
  background-color: black;
  width: 32%;
  display: inline-block;
  color: black;
  text-align: center;
  line-height: 50px;
  margin-top: 50px;
}
#scissors {
  border: 1px solid black;
  /*height: 50px;*/
  background-color: black;
  width: 32%;
  display: inline-block;
  color: black;
  text-align: center;
  line-height: 50px;
margin-top: 50px;
}
body {
  background-color: black;
}
